@model MiniBlogSQLServerDBExample.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Post @ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Edit</a> 
    <a asp-action="Index" class="btn btn-success ml-2" role="button">Back to List</a>
</div>